// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

/* Custom */
$purple: #7C4196;
$gray-bf: #303030;
$blue-bf: #0092FF;
$orange-bf: #FF7B0F;
$red-bf: #EA4335;
$yellow-bf: #FFC419;
