// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

/* Custom */
  /* Background */
  $purple: #7C4196;
  $gray-bf: #303030;
  $blue-bf: #0092FF;
  $orange-bf: #FF7B0F;
  $red-bf: #EA4335;
  $yellow-bf: #FFC419;

  /* Button */
  /* Button Beer*/
  $black-blanche: #000000;
  $yellow-blonde: #E6D289;
  $orange-ambree: #CB7C33;
  $brown-brune: #875322;
  $brown-noire: #5A3100;
  $brown-fruits: #A63B0D;

  /* Button Wine*/
  $black-blanc: #000000;
  $pink-rose: #E58F73;
  $red-rouge: #AA2727;

  /* Button Cheese*/
  $black-vache: #000000;
  $brown-chevre: #875322;
  $orange-brebis: #E58F73;
  $brown-bufflone: #6F1313;
