#orange-navbar {
  background-color: $orange-bf;
  .navbar-container.active {
    color: $orange-bf;
    text-decoration: none;
  }

  .nav-item:has(.nav-link.show) .bg-menu {
    display: block;
    width: 100%;
    height: calc(100dvh - 45px);
    background-color: $orange-bf;
    position: absolute;
    top: 45px;
    left: -70px;
    z-index: 5;
  }
}

#index-categories {
  background-color: $orange-bf;
  width: 100%;
  min-height: 100dvh;
  padding: 0px 25px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  gap: 10px;

  .pairing-wrapper {
    position: relative;
  }
  .pairing {
    position: absolute;
    top: 0;
    left: 0;
  }
  .choice-img {
    width: 100%;
    border-radius: 10px;
  }
  .choice-name {
    background: white;
    color: $orange-bf;
    width: 100%;
    margin: 10px auto;
    display: inline-block;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 11px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 5px;
  }
  .choice-btn {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .category_fleche {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 43%;
    left: 63%;
    transform: translate(-163%, -50%);
    // background-color: white;
    z-index: 1;
  }

  .heart-matches {
    border-radius: 50%;
    width: 300px;
    height: 300px; /* Garantit que le corps occupe toute la hauteur de la fenêtre */
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    z-index: 10;

    .heart {
      font-size: 130px;
      color: $red-bf;
      z-index: 3;
    }
  }
}
