#black-navbar {
  background-color: $gray-bf;

  .nav-item:has(.nav-link.show) .bg-menu {
    display: block;
    width: 100%;
    height: calc(100dvh - 54px);
    background-color: $gray-bf;
    position: absolute;
    top: 56px;
    left: -70px;
    z-index: 5;
  }

  .bars {
    display: none;
  }
}

#show-food,
#show-drink {
  background-color: $gray-bf;
  width: 100%;
  padding: 0 25px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  color: white;
}

.show-image {
  min-height: 300px;

  .linear-img {
    width: 100%;
    height: 300px;
    position: absolute;
    left: 0%;
    z-index: 2;
    background: linear-gradient(180deg, #303030 4.73%, rgba(48, 48, 48, 0.10) 10.86%, rgba(48, 48, 48, 0.10) 32.78%, #303030 90.37%);
  }

  img {
    width: 100%;
    position: absolute;
    left: 0%;
  }
}

.show-name {
  margin-top: -15px;
  z-index: 3;
  position: relative;
}

.food_fleche {
  z-index: 3;
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-163%, -50%);
}

.search-btn {
  background-color: #ffffff;
  width: 100%;
  justify-content: center;
  height: 62px;
  padding: 15px 16px;
  border-radius: 46px;
  color: $gray-bf;
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: 2.4px;
  border: none;
}

.origin-center {
  display: flex;
  flex-direction: row;
  align-content: flex-end;
  justify-content: center;
  align-items: center;
}

.strength-center {
  display: flex;
  flex-direction: row;
  align-content: flex-end;
  justify-content: center;
  align-items: center;
}

.cepage-card {
  display: flex;
  flex-direction: row;
  align-content: flex-end;
  justify-content: center;
  align-items: center;
}

.family-center{
  display: flex;
  flex-direction: row;
  align-content: flex-end;
  justify-content: center;
  align-items: center;
}

.aging-center{
  display: flex;
  flex-direction: row;
  align-content: flex-end;
  justify-content: center;
  align-items: center;
}
