// Specific CSS for your home-page
.index-home {
  color: #FFF;
  font-family: Poller One;
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

#home {
  background-color: $gray-bf;
  height: 100dvh;
  width: 100%;
  padding: 70px 25px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.search-btn {
  background-color: #ffffff;
  width: 100%;
  justify-content: center;
  height: 62px;
  padding: 15px 16px;
  border-radius: 46px;
  color: $gray;
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: 2.4px;
  border: none;
}

.button {
  font-size: 16px;
    margin-bottom: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: white;
}

.home_logo {
  width: 192;
  height: 192;
}

.home_photo {
  width: 368;
  height: 478;
}
