#edit-profiles {
  background-color: $blue;
  height: 100dvh;
  width: 100%;
  padding: 70px 25px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.edit-title {
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: white;
  margin-bottom: 8px;
}

.title-line {
  border-bottom: 1px solid white;
  margin-bottom: 17px;
  width: 120%;
  position: relative;

    .title-dot {
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background-color: white;
      position: absolute;
      bottom: -3px;
      left: 0;
  }
}

.profil-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.top-profil {
  height: 100%;
}

.beer {
  font-size: 16px;
    margin-bottom: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: white;
}

.index-subtitle {
  font-size: 16px;
  margin-bottom: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: white;
}

.option-container {
  background-color: transparent;
  border: none;
  width: 100%;
  position: relative !important;
  transform: translate3d(0, 0, 0) !important;
}

.option-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px 34px;
}

.toggle-input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  padding: 12px 16px;
  width: 100%;
  height: 50px;
  border-radius: 10px;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: black;
  border: none;
}
.toggle-input:after {
  content: "";
  display: none;
}

.beer a,
.wine a,
.cheese a {
  text-decoration: none;
  background: #ffffff;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90px;
  width: 100%;
}
#blanche{
  color: $yellow-blanche;
}
#blanche.active {
  background-color: $yellow-blanche;
  color: white
}

#blonde {
  color: $yellow-blonde;
}
#blonde.active {
  background-color: $yellow-blonde;
  color: white
}

#ambrée {
  color: $orange-ambree;
}
#ambrée.active {
  background-color: $orange-ambree;
  color: white
}

#brune {
  color: $brown-brune;
}
#brune.active {
  background-color: $brown-brune;
  color: white
}

#noire {
  color: $black-noire;
}
#noire.active {
  background-color: $black-noire;
  color: white
}

#noire {
  color: $black-noire;
}
#noire.active {
  background-color: $black-noire;
  color: white
}

#fruits {
  color: $brown-fruits;
}
#fruits.active {
  background-color: $brown-fruits;
  color: white
}

#blanc {
  color: $yellow-blanc;
}
#blanc.active {
  background-color: $yellow-blanc;
  color: white
}

#rosé {
  color: $pink-rose;
}
#rosé.active {
  background-color: $pink-rose;
  color: white
}

#rouge {
  color: $red-rouge;
}
#rouge.active {
  background-color: $red-rouge;
  color: white
}

.search-btn {
  background-color: #ffffff;
  width: 100%;
  justify-content: center;
  height: 62px;
  padding: 15px 16px;
  border-radius: 46px;
  color: $blue;
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: 2.4px;
  border: none;
  text-decoration: none;
  display: center
}

.search-form-wrapper {
  flex-grow: 1;
}
