#red-navbar {
  background-color: $red;
}

#index-pairings {
  background-color: $red;
  height: 100dvh;
  width: 100%;
  padding: 70px 25px;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .index-title {
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: white;
    margin-bottom: 8px;
  }

  .title-line {
    border-bottom: 1px solid white;
    margin-bottom: 17px;
    width: 120%;
    position: relative;

    .title-dot {
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background-color: white;
      position: absolute;
      bottom: -3px;
      left: 0;
    }
  }
}
