<div class="navbar-container">
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <%= link_to foods_path do %>
        <i class="fa-solid fa-wine-glass-empty text-white"></i>
      <% end %>
      <a class="navbar-brand" href="#">buvonsFromage</a>
       <div class="nav-item dropdown">
          <button class="nav-link" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <span class="navbar-toggler-icon"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="#">SEARCH</a></li>
            <li><a class="dropdown-item" href="#">PANIER</a></li>
            <li><a class="dropdown-item" href="#">PROFIL</a></li>
          </ul>
        </div>
    </div>
  </nav>
</div>
