<div id="home">
  <div class="vertical_align_element">
    <%= image_tag("logo_buvons_fromage.png", width: '100px', height: '100px', alt: "Logo") %>

      <%= image_tag("bandeau_home.gif",  alt: "Gif home") %>
      <div class="button">
        <%= link_to "COMMENCER", foods_path, class: "search-btn" %>
      </div>

  </div>
</div>
