<div id="home">
    <%= image_tag 'logo_bf.png', class: "home_logo" %>
    <%= image_tag 'bandeau_bf.gif', class: "home_photo" %>

    <div class="button">
      <%= submit_tag 'COMMENCER', class: 'search-btn'%>
    </div>

</div>
