<div id="home">
  <div class="vertical_align_element">
    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="62" viewBox="0 0 58 82" fill="none">
    <path d="M57.0215 29.1649L49.1329 2.10125C48.9561 1.49491 48.5899 0.962608 48.089 0.583881C47.5881 0.205154 46.9793 0.000327005 46.3536 0H11.6464C11.0207 0.000327005 10.412 0.205154 9.91101 0.583881C9.41007 0.962608 9.04386 1.49491 8.86711 2.10125L0.978458 29.1649C-0.25923 33.3131 -0.324004 37.7282 0.791448 41.9116C1.9069 46.095 4.15813 49.8799 7.29082 52.8387C12.444 57.7208 19.0652 60.7219 26.1011 61.3646V76.1429H14.5055C13.7366 76.1429 12.9993 76.4514 12.4556 77.0006C11.912 77.5498 11.6066 78.2947 11.6066 79.0714C11.6066 79.8481 11.912 80.593 12.4556 81.1422C12.9993 81.6915 13.7366 82 14.5055 82H43.4945C44.2634 82 45.0007 81.6915 45.5444 81.1422C46.088 80.593 46.3934 79.8481 46.3934 79.0714C46.3934 78.2947 46.088 77.5498 45.5444 77.0006C45.0007 76.4514 44.2634 76.1429 43.4945 76.1429H31.8989V61.3646C38.9347 60.7213 45.5557 57.7203 50.7092 52.8387C53.8419 49.8799 56.0931 46.095 57.2086 41.9116C58.324 37.7282 58.2592 33.3131 57.0215 29.1649ZM13.8134 5.85714H44.1866L51.4665 30.8196C51.4991 30.9294 51.5281 31.0392 51.5571 31.149C43.7953 33.9604 35.0551 30.5633 30.3118 28.1363C21.1838 23.4688 13.9366 22.8758 8.59171 23.769L13.8134 5.85714ZM46.7558 48.5594C41.9421 53.1128 35.5945 55.6464 29 55.6464C22.4055 55.6464 16.0579 53.1128 11.2442 48.5594C8.90001 46.3401 7.21666 43.5029 6.38426 40.3682C5.55186 37.2335 5.60354 33.9262 6.53349 30.8196L6.69655 30.2631C11.0449 28.7769 17.9552 28.3815 27.6882 33.3638C31.7286 35.4321 38.2548 38.0678 45.2375 38.0678C47.5713 38.0793 49.8951 37.7589 52.1405 37.116C51.8447 41.4817 49.9203 45.5714 46.7558 48.5594Z" fill="white"/>
    </svg>

        <%= image_tag("bandeau_home.gif",  alt: "Gif home") %>
      <div class="button">
        <%= link_to "COMMENCER", foods_path, class: "search-btn" %>
      </div>

  </div>
</div>
