.unlike_container {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: rgba(3, 3, 3, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}

// .unlike_heart {
//   // ion: heart-dislike
//   width: 35px;
//   height: 35px;
//   color: white;
// }
