.like_container {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;

  .svg {
    width: 35px;
    height: 35px;
  }

  .svg path {
    fill: $orange-bf;
  }
  .submit_like {
    background: transparent;
    border: none;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    position: absolute;
  }
}
